extends _includes/template.jade

//- HEAD
block title
	title Home

block css
	// build:css css/vendor-main.min.css
	// endbuild
	// build:css css/main.min.css
	link(rel="stylesheet", href="css/main.css")
	// endbuild

block main
	main
		.container
			.row
						
//- SCRIPTS
block js
	// build:js js/vendor-main.min.js
	script(type='text/javascript', src='bower_components/modernizr/modernizr.js')
	script(type='text/javascript', src='bower_components/jquery/dist/jquery.js')
	script(type='text/javascript', src='bower_components/respond/dest/respond.src.js')
	// endbuild
	// build:js js/main.min.js
	script(type='text/javascript', src='js/main.js')
	// endbuild

