extends includes/template.jade

//- HEAD
block title
  title Page 2

block css
  // build:css css/vendor-page-2.min.css
  // endbuild
  // build:css css/page-2.min.css
  link(rel="stylesheet", href="css/page-2.css")
  // endbuild

//- BODY
block content
  block header
    header
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore quam, iste harum aut nostrum provident sed doloremque dolorum animi?

  block main
    main
      h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ipsa nobis ut accusantium, earum magni ex quam recusandae in voluptatum.

  block footer
    footer: p Lorem ipsum dolor sit amet.

//- SCRIPTS
block js
  // build:js js/vendor-page-2.min.js
  script(type='text/javascript', src='bower_components/modernizr/modernizr.js')
  script(type='text/javascript', src='bower_components/jquery/dist/jquery.js')
  script(type='text/javascript', src='bower_components/respond/dest/respond.src.js')
  script(type='text/javascript', src='bower_components/REM-unit-polyfill/js/rem.js')
  // endbuild
  // build:js js/page-2.min.js
  script(type='text/javascript', src='js/page-2.js')
  // endbuild
