@keyframes mail {
  0% {
    transform: rotate(0) translate(0,0);
  }
  33% {
    transform-origin: top right;
    transform: rotate(14deg) translate(2px,2px);
  }
  66% {
    transform-origin: bottom left;
    transform: rotate(-25deg) translate(0,0);
  }
  100% {
    transform: rotate(0) translate(0,0);
  }
}

@keyframes scrolldown {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(0,-5px);
  }
}

@keyframes arrow-work {
  0% {
    transform: translate(10px,0);
  }
  100% {
    transform: translate(0,0);
  }
}