html {
  overflow-y: hidden;
  &.show-scroll {
    overflow-y: auto;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: $container-fluid-max-width;
}
.btn {
  z-index: 1;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  font-size: 18px;
  font-weight: 100;
  background: transparent;
  border-radius: 20px;
  border: 1px solid $red;
  color: $blue;
  padding: 0 30px;
  height: 40px;
  transition: all 350ms ease;
  @include sm {
    font-size: 16px;
    height: 34px;
    padding: 0 25px;
  }
  @include xs {
    font-size: 16px;
    height: 34px;
    padding: 0 25px;
  }
  &:hover {
    background: $red;
    color: $white;
    border-color: $red;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
    &:before {
      opacity: 1;
      transform: skewX(0) scaleX(1);
    }
  }
  .ripple {
    z-index: 2;
    position: absolute;
    opacity: 1;
    width: 0;
    height: 0;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    cursor: pointer;
  }
  .rippleEffect {
    animation: rippleDrop .6s linear;
  }
  &__text {
    z-index: 3;
    position: relative;
    color: $white;
    margin-left: 15px;
    transition: all 400ms ease;
  }
  &__svg {
    width: 24px;
    height: 24px;
    fill: $white;
    transition: all 400ms ease;
  }
}
.arrow-prev {
  padding: 0;
  background: none;
  transform: translate(0,-50%);
  position: absolute;
  top: 50%;
  left: -25px;
  @include below(1200px) {
    left: -18px;
  }
  &.slick-disabled {
    opacity: 0;
    visibility: hidden;
  }
  &__svg {
    width: 24px;
    height: 24px;
    fill: $blue;
    transition: all 400ms ease;
    @include below(1200px) {
      width: 20px;
      height: 20px;
    }
  }
}
.arrow-next {
  padding: 0;
  background: none;
  transform: translate(0,-50%);
  position: absolute;
  top: 50%;
  right: -25px;
  @include below(1200px) {
    right: -18px;
  }
  &.slick-disabled {
    opacity: 0;
    visibility: hidden;
  }
  &__svg {
    width: 24px;
    height: 24px;
    fill: $blue;
    transition: all 400ms ease;
    @include below(1200px) {
      width: 20px;
      height: 20px;
    }
  }
}
.title-md {
  text-transform: uppercase;
  font-size: 32px;
  color: $blue;
  @include sm {
    font-size: 28px;
  }
  @include xs {
    font-size: 28px;
  }
}
.title-sm {
  text-transform: uppercase;
  font-size: 22px;
  color: $blue;
  @include sm {
    font-size: 20px;
  }
  @include xs {
    font-size: 20px;
  }
}
.sub-descr {
  float: left;
  width: 100%;
  margin: 0;
}
.close {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  &:hover {
    .close__svg {
      fill: $blue;
      transform: rotate(90deg);
    }
  }
  &__svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    fill: $black;
    transition: all 300ms ease-in-out;
  }
}
.close__sidebar-menu {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 15px;
}
// Reveal box
.reveal-box {
  position: relative;
  overflow: hidden;
  float: left;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFD81;
    transform-origin: 50% 50% 0;
    opacity: 0;
  }
  .content {
    opacity: 0;
    .wrapper-p {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
        text-shadow: 0 2px 20px $black;
        margin: 0;
      }
    }
  }
}

///////////////////////////////////////////
///////////////// HEADER //////////////////
///////////////////////////////////////////
.header-page {
  width: 100%;
  width: 100vw;
  background: $white;
  border-bottom: 2px solid $blue;
  &__wrapper-header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
    padding-bottom: 12px;
    @include below(550px) {
      justify-content: space-between;
    }
  }
  &__logo {
    padding: 18px 0;
  }
  &__btn-menu {
    display: none;
    @include below(500px) {
      display: block;
    }
  }
}
.logo {
  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.btn-menu {
  background: none;
  border: none;
  &:hover {
    .btn-menu__line {
      background-color: $blue;
    }
    .btn-menu__line--one {
      width: 40%;
    }
    .btn-menu__line--two {
      width: 70%;
    }
  }
  &--toggle {
    display: none;
    @include below(950px) {
      display: block;
    }
  }
  &__lines {
    display: block;
    margin: 0 auto;
    width: 30px;
  }
  &__line {
    float: left;
    clear: both;
    width: 100%;
    height: 2px;
    background: $black;
    margin: 2px 0;
    transition: all 300ms ease-in-out;
  }
  span {
    display: block;
    width: 100%;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    margin-top: 5px;
    @include below(1100px) {
      display: none;
    }
  }
}
.socials {
  position: absolute;
  top: 20px;
  right: 0;
  display: flex;
  flex-direction: row;
  @include below(400px) {
    top: 5px;
    width: 90px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  &__link {
    padding: 4px;
    &:hover {
      svg {
        fill: $blue;
      }
    }
  }
  svg {
    width: 16px;
    height: 16px;
    fill: #d4d4d4;
    transition: all 350ms ease;
  }
}
.list-nav-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  &__item {
    margin: 0 10px;
    @include below(400px) {
      margin: 0 4px;
    }
  }
  &__link {
    position: relative;
    display: inline-flex;
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
    font-size: 10px;
    text-transform: uppercase;
    padding: 6px 12px;
    color: #707070;
    transition: all 300ms cubic-bezier(.02,.01,.47,1);
    @include below(400px) {
      padding: 6px 8px;
    }
    &:hover {
      color: $blue;
    }
    &--active {
      color: $white;
      background-color: #076e9f;
      border-color: #045279;
      border-radius: 2px;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
      &:hover {
        color: $white;
        border-color: $blue;
        background: $blue;
      }
    }
  }
}

/////////////////////////////////////////
///////////////// MAIN //////////////////
/////////////////////////////////////////
.google-map {
  width: 100%;
  height: 400px;
}
.icons-svg {
  svg {
    width: 20px;
    height: 20px;
    fill: $blue;
  }
}
.section-preview {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  @include below(450px) {
    background-size: 0 0;
  }
  &__wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 80px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0 0;
    @include sm {
      padding: 60px 0 30px 0;
    }
    @include xs {
      padding: 60px 0 30px 0;
    }
    @include below(450px) {
      padding: 80px 0 40px 0;
      background-size: cover;
    }
  }
  &__head-title {
    margin: 0;
    text-transform: uppercase;
    color: $blue;
    background: rgba(255,255,255,0.8);
    padding: 10px 20px 5px 20px;
  }
  &__light {
    color: $blue;
  }
  &__head-descr {
    font-family: $font-1;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: $blue;
    background: rgba(255,255,255,0.8);
    padding: 10px 20px 5px 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  &__review {
    @include sm {
      padding: 10px 0;
    }
    @include xs {
      padding: 10px 0;
    }
  }
}

.review {
  background: rgba(0,0,0,0.5);
  @include below(450px) {
    background: #eaeaea;
  }
  .row {
    margin: 0 -20px;
    @include sm {
      margin: 0 -10px;
    }
    @include xs {
      margin: 0 -10px;
    }
  }
  .col-md-3 {
    padding: 0 20px;
    @include sm {
      padding: 0 10px;
    }
    @include xs {
      padding: 0 10px;
    }
    @include below(450px) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    background: rgba(255,255,255,0.9);
    margin: 25px 0;
    margin-left: 35px;
    @include sm {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    @include xs {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    @include below(450px) {
      margin-top: 3px;
      margin-bottom: 3px;
    }
    &:hover {
      .review__img {
        transform: scale(1.1);
      }
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: -35px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 300ms ease-in-out;
  }
  &__descr {
    position: relative;
    display: block;
    max-height: 42px;
    overflow: hidden;
    font-size: 9px;
    font-style: italic;
    line-height: 14px;
    margin: 0;
    padding-left: 50px;
    padding-right: 10px;
  }
  &__autor {
    font-size: 9px;
    line-height: 14px;
    color: #828282;
    padding-left: 50px;
    padding-right: 10px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  flex-wrap: wrap;
  border-top: 2px solid $blue;
  &__wrapper-content {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    @include below(650px) {
      flex-wrap: wrap;
    }
  }
  &__section-posts {
    margin-top: -10px;
    @include sm {
      margin-top: 0;
    }
    @include xs {
      margin-top: 0;
    }
  }
}

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  max-width: 200px;
  border-right: 1px dotted #d5d5d5;
  border-bottom: 1px dotted #d5d5d5;
  @include below(650px) {
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
    order: 1;
    border-right: none;
  }
  &__title-sm {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &__list-related-posts {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &__about-autor {
    margin-top: 30px;
  }
}

.about-autor {
  border-bottom: 1px dotted #d5d5d5;
  &__descr {
    font-size: 10px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 15px;
    padding-right: 20px;
  }
  &__autor {
    font-size: 10px;
    font-weight: 700;
    color: $blue;
  }
}

.related-posts {
  border-bottom: 1px dotted #d5d5d5;
}

.list-related-posts {
  @include below(650px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    @include below(650px) {
      padding-right: 30px;
    }
    &:hover {
      .list-related-posts__title {
        color: $blue;
      }
      svg {
        fill: $blue;
      }
    }
  }
  &__img {
    border: 1px solid #dddddd;
  }
  &__descr-block {
    padding-left: 15px;
  }
  &__title {
    font-size: 10px;
    font-weight: 700;
    color: $black;
    margin: 0;
    transition: all 300ms ease;
  }
  &__descr {
    font-size: 10px;
    font-style: italic;
    margin: 0;
    margin-top: 5px;
  }
  svg {
    width: 16px;
    height: 16px;
    fill: #dddddd;
    margin-right: 6px;
    transition: all 300ms ease;
  }
}

.table {
  width: 100%;
  max-width: 160px;
  display: table;
  border: 1px solid $white;
  border-collapse: collapse;
  &__body {
    display: table;
    width: 100%;
    margin-bottom: 20px;
  }
  &__row {
    width: 100%;
    display: table-row;
    background: rgba(144, 212, 245, 0.5)
  }
  &__cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 25%;
    font-size: 10px;
    color: $black;
    padding: 3px 0;
    transition: all 350ms ease;
    border: 1px solid $white;
  }
  &__cell--1 {
    width: 25%;
  }
  &__cell--2 {
    width: 25%;
  }
  &__cell--3 {
    width: 25%;
  }
  &__cell--4 {
    width: 25%;
  }
  &__arrow-top {
    svg {
      width: 16px;
      height: 16px;
      fill: $green;
    }
  }
  &__arrow-bottom {
    svg {
      width: 16px;
      height: 16px;
      fill: $red;
    }
  }
  &__head {
    display: table;
    width: 100%;
    background: $blue;
    .table__cell {
      font-size: 10px;
      vertical-align: middle;
      color: $white;
      padding: 6px 0;
    }
  }
}

.section-posts {
  width: 100%;
  border-top: 2px solid $blue;
  border-bottom: 1px dotted #d5d5d5;
  background: $white;
  padding-bottom: 30px;
  @include sm {
    border-top: none;
  }
  @include xs {
    border-top: none;
  }
  @include below(650px) {
    width: 100%;
  }
  &__main-post {
    padding: 25px 15px 20px 15px;
    @include below(650px) {
      padding: 25px 0 20px 0;
    }
  }
  &__list-posts {
    padding-left: 15px;
    padding-top: 15px;
    @include below(650px) {
      padding-left: 0;
    }
  }
  &__banner {
    margin-left: 15px;
    @include below(650px) {
      margin-left: 0;
    }
  }
}

.main-post {
  border-right: 1px dotted #d5d5d5;
  border-bottom: 1px dotted #d5d5d5;
  @include below(650px) {
    border-right: none;
  }
  &__title-md {
    margin-top: 0;
    margin-bottom: 15px;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include below(450px) {
      flex-wrap: wrap;
    }
  }
  &__left-col {
    display: flex;
    flex-direction: row;
  }
  &__date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $blue;
    font-size: 8px;
    font-weight: 700;
    color: $white;
  }
  &__autor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $blue;
    font-size: 8px;
    font-weight: 700;
    color: $white;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include xs {
      margin-left: 5px;
    }
  }
  &__right-col {
    padding-left: 20px;
    @include below(450px) {
      width: 100%;
      padding-left: 0;
      margin-top: 10px;
    }
  }
  &__descr {
    font-size: 10px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 10px;
  }
  &__footer-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  &__read-more {
    position: relative;
    display: inline-flex;
    font-size: 10px;
    padding: 6px 12px 6px 12px;
    color: $white;
    background-color: #076e9f;
    border: 1px solid #045279;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    transition: all 300ms cubic-bezier(.02,.01,.47,1);
    &:hover {
      color: $white;
      border-color: $blue;
      background: $blue;
    }
  }
  &__info-post {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: #90d4f5;
    padding: 5px 10px;
    color: $blue;
    margin-right: -20px;
    @include below(650px) {
      margin-right: 0;
    }
    &:after {
      position: absolute;
      bottom: -5px;
      right: 0;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 5px solid $blue;
      border-right: 5px solid transparent;
      @include below(650px) {
        display: none;
      }
    }
    svg {
      width: 16px;
      height: 16px;
      fill: $white;
      margin-right: 5px;
    }
  }
  &__likes {
    margin-right: 15px;
  }
}

.list-posts {
  .col-md-6 {
    margin-bottom: 15px;
    @include below(450px) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  &__item {
    position: relative;
    min-height: 100%;
    background: #eaeaea;
    display: block;
    padding-bottom: 45px;
    border-radius: 10px 0 0 0;
  }
  &__shadow {
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 9px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
  &__title-sm {
    padding: 0 30px;
    padding-top: 30px;
    line-height: 21px;
    margin: 0;
    @include xs {
      padding: 0 15px;
      padding-top: 15px;
    }
  }
  &__posted {
    padding: 0 30px;
    color: #878787;
    margin-top: 5px;
    @include xs {
      padding: 0 15px;
    }
  }
  &__light {
    color: $blue;
  }
  &__descr {
    padding: 0 30px;
    margin-top: 15px;
    margin-bottom: 5px;
    @include xs {
      padding: 0 15px;
    }
  }
  &__read-more {
    padding: 0 30px;
    @include xs {
      padding: 0 15px;
    }
    &:hover {
      color: $blue;
    }
  }
  &__info-post {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: #f4f3f3;
    padding: 5px 15px;
    color: $blue;
    margin-top: 20px;
    svg {
      width: 16px;
      height: 16px;
      fill: #90d4f5;
      margin-right: 5px;
    }
  }
  &__likes {
    margin-right: 15px;
  }
}

.banner {
  position: relative;
  background: #eaeaea;
  &__shadow {
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 9px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
  &__text {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    margin: 0;
  }
}

.section-map {
  &__title-md {
    margin-top: 25px;
    margin-bottom: 15px;
  }
  &__map-google {
    width: 100%;
    height: 300px;
    border: 1px solid #EAEAEA;
    .si-frame {
      backface-visibility: hidden;
      border-radius: 4px;
    }
    .si-shadow-wrapper-top {
      opacity: 0;
    }
    .si-has-border .si-content-wrapper {
      border: none;
      box-shadow: 0 4px 20px rgba(35,37,40,.1);
    }
    .si-pointer-bg-top {
      border-top-color: $white;
    }
    .si-pointer-top {
      border-width: 10px !important;
    }
    .si-content-wrapper {
      width: 200px;
      background-color: $white;
      padding: 15px;
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }
}

///////////////////////////////////////////
///////////////// FOOTER //////////////////
///////////////////////////////////////////

.footer-page {
  width: 100%;
  width: 100vw;
  &__footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    @include below(600px) {
      justify-content: center;
    }
  }
  &__list-nav-page {
    width: auto;
    @include below(600px) {
      width: 100%;
      margin-top: 15px;
    }
  }
  &__footer-bottom {
    border-top: 1px dotted #d5d5d5;
  }
  &__copyright {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 15px 0;
  }
}