html {
  overflow-y: hidden;
  &.show-scroll {
    overflow-y: auto !important;
  }
}
body {
  position: relative;
  float: left;
  width: 100%;
  &.page-home {
    header.header-page .chains {
      display: none;
    }
  }
}
main {
  position: relative;
  z-index: 5;
  float: left;
  width: 100%;
}
.container-fluid {
  padding: 0 40px;
  @include below(550px) {
    padding: 0 20px;
  }
}
.btn {
  z-index: 1;
  overflow: hidden;
  position: relative;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  display: inline-block;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;
  font-size: 11px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  background: $blue;
  border-radius: 20px;
  transition: all 400ms cubic-bezier(.02,.01,.47,1);
  &:hover {
    background: darken($blue,10%);
    color: $white;
    box-shadow: 0 5px 20px rgba(35, 37, 40, 0.1);
    &:before {
      opacity: 1;
      transform: skewX(0) scaleX(1);
    }
  }
  .ripple {
    z-index: 2;
    position: absolute;
    opacity: 1;
    width: 0;
    height: 0;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    cursor: pointer;
  }
  .rippleEffect {
    animation: rippleDrop .6s linear;
  }
  span {
    z-index: 3;
    position: relative;
    color: $white;
    display: inline;
  }
}
.title-page {
  float: left;
  font-size: 40px;
  color: $blue;
  text-transform: uppercase;
  margin: 0;
  @include below(600px) {
    font-size: 30px;
  }
}
.sub-descr {
  float: left;
  width: 100%;
  margin: 0;
}
.close {
  float: left;
  width: 50px;
  height: 50px;
  background: #a7a8a9;
  border-radius: 50%;
  text-align: center;
  transition: all 300ms ease-in-out;
  @include below(800px) {
    width: 40px;
    height: 40px;
  }
  @include below(600px) {
    background: none;
  }
  &:hover {
    background: $blue;
    @include below(600px) {
      background: none;
    }
    svg {
      transform: rotate(90deg);
      @include below(600px) {
        fill: $blue;
      }
    }
  }
  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    fill: $white;
    margin-top: 17px;
    transition: all 300ms ease-in-out;
    @include below(800px) {
      margin-top: 12px;
    }
    @include below(600px) {
      fill: $black;
    }
  }
}

/* Scroll */
::-webkit-scrollbar {
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(35, 37, 40,0.4);
  border-radius: 4px;
  &:hover {
    background-color: $blue;
  }
}

/* Scroll box */
.container-scroll {
  position: relative;
  float: left;
  width: 100%;
  height: 500px;
  overflow: hidden;
  padding-right: 14px;
  .ps__scrollbar-x-rail {
    display: none !important;
  }
  .ps__scrollbar-y-rail {
    right: 0px !important;
    width: 6px !important;
    background: transparent !important;
    opacity: 1 !important;
    &:hover {
      background: transparent !important;
      .ps__scrollbar-y {
        width: 6px !important;
        background: $blue !important;
      }
    }
  }
  .ps__scrollbar-y {
    right: 0 !important;
    width: 6px !important;
    border-radius: 4 !important;
    background: rgba(35, 37, 40,0.4) !important;
    &:hover {
      width: 6px !important;
      background: rgba(35, 37, 40,0.4) !important;
    }
    &:active {
      width: 6px !important;
      background: rgba(35, 37, 40,0.4) !important;
    }
  }
}
.content-scroll {
  float: left;
  width: 100%;
  padding: 100px 0 70px 0;
  @include below(1600px) {
    padding: 80px 0 45px 0;
  }
  @include below(1100px) {
    padding: 60px 0 140px 0;
  }
  .container-scroll {
    padding: 0;
    @include below(1100px) {
      padding-right: 0;
      height: auto !important;
    }
  }
}

/* Select2 */
.select2 {
  float: left;
  width: 100%;
}
.select2-selection.select2-selection--single {
  outline: none;
}
.select2-container .select2-selection--single {
  height: 50px;
  background: #F0F0F0;
  border: none;
  color: $black;
  font-size: 14px;
  @include below(500px) {
    height: 40px;
  }
}
.select2-container--open .select2-selection--single {
  background: $white;
  box-shadow: 0 5px 20px rgba(35, 37, 40, 0.1);
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  padding-left: 15px;
  @include below(500px) {
    line-height: 40px;
  }
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px;
  width: 30px;
  top: -1px;
  @include below(500px) {
    height: 40px;
  }
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 260px !important;
}
.select2-dropdown {
  background-color: $white;
  border: none;
  font-size: 14px;
  box-shadow: 0 5px 20px rgba(35, 37, 40, 0.1);
}
.select2-results__option {
  padding: 12px 15px;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #dedede;
  color: $black;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $blue;
}

/* Fancybox */
.fancybox-bg {
  background: rgba(35,37,40,.95);
}
.fancybox-caption {
  border: none;
}
.fancybox-button {
  background: $black;
}
.fancybox-button:hover {
  background: $black;
}
.fancybox-infobar__body {
  background: $black;
}
.fancybox-caption-wrap {
  background: linear-gradient(to bottom, transparent 0%, rgba(19, 17, 58,0.1) 20%, rgba(19, 17, 58,0.2) 40%, rgba(19, 17, 58,0.6) 80%, rgba(19, 17, 58,0.8) 100%)
}
.fancybox-caption {
  padding: 12px 0;
  text-align: center;
}


  