footer.footer-page {
  width: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  padding: 30px 0;
  @include md {
    text-align: center;
  }
  @include sm {
    text-align: center;
    padding: 20px 0;
  }
  @include xs {
    text-align: center;
    padding: 20px 0;
  }
  .row {
    margin: 0 -15px;
  }
  .col-md-3 {
    padding: 0 15px;
    @include sm {
      margin: 5px 0;
    }
    @include xs {
      margin: 5px 0;
    }
    @include below(400px) {
      flex-basis: 100%;
      max-width: 100%;
      margin: 10px 0;
    }
    &:nth-child(2) {
      order: -1;
    }
    &:nth-child(3) {
      order: -1;
    }
  }
  .docs {
    display: inline;
    font-size: 18px;
    margin: 3px 0;
    border-bottom: 1px dashed transparent;
    @include md {
      font-size: 16px;
      margin: 5px 0;
    }
    @include sm {
      font-size: 16px;
      margin: 5px 0;
    }
    @include xs {
      font-size: 16px;
      margin: 5px 0;
    }
    &:hover {
      border-color: $blue;
      color: $blue;
    }
  }
  .title {
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 3px 0;
    color: $blue;
    @include md {
      font-size: 16px;
      margin: 5px 0;
    }
    @include sm {
      font-size: 16px;
      margin: 5px 0;
    }
    @include xs {
      font-size: 16px;
      margin: 5px 0;
    }
  }
  .socials {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    @include md {
      justify-content: center;
    }
    @include sm {
      justify-content: center;
    }
    @include xs {
      justify-content: center;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #979797;
      margin-right: 5px;
      &:hover {
        background-color: $blue;
        box-shadow: 0 5px 10px rgba(35, 37, 40, 0.12);
      }
      svg {
        fill: $white;
        width: 18px;
        height: 18px;
      }
    }
  }
  address {
    font-size: 17px;
    font-weight: 300;
    margin: 0;
    @include md {
      font-size: 14px;
    }
    @include sm {
      font-size: 14px;
      max-width: 240px;
      margin: 0 auto;
    }
    @include xs {
      font-size: 14px;
      max-width: 240px;
      margin: 0 auto;
    }
  }
  .phone {
    font-size: 22px;
    font-weight: 300;
    color: $black;
    @include md {
      font-size: 18px;
    }
    @include sm {
      font-size: 18px;
    }
    @include xs {
      font-size: 18px;
    }
    &:hover {
      color: $blue;
      .work-time {
        color: $black;
      }
    }
    .work-time {
      display: block;
      width: 100%;
      font-size: 14px;
      color: $black;
      margin-top: 2px;
    }
  }
  .logo-dev {
    display: inline-block;
    // @include sprite($logo-dev);
    margin-top: 7px;
    @include md {
      margin-top: 10px;
    }
    @include sm {
      margin-top: 10px;
    }
    @include xs {
      margin-top: 10px;
    }
  }
  .norm {
    font-size: 18px;
    font-weight: 100;
    margin: 15px 0;
    @include md {
      font-size: 16px;
      margin: 10px 0;
    }
    @include sm {
      font-size: 16px;
      margin: 10px 0;
    }
    @include xs {
      font-size: 16px;
      margin: 10px 0;
    }
    a {
      display: inline;
      font-weight: 300;
      border-bottom: 1px dashed transparent;
      &:hover {
        border-color: $blue;
        color: $blue;
      }
    }
  }
}