/* Fancybox */
.fancybox-bg {
  background: #111;
}
.fancybox-caption {
  border: none;
}
.fancybox-button {
  background: $blue;
}
.fancybox-infobar__body {
  background: $blue;
}
.fancybox-toolbar .fancybox-button {
  &:hover {
    background: $white;
    svg {
      color: $blue;
    }
  }
  svg {
    color: $white;
  }
}
.fancybox-button--close {
  &:hover {
    &:before,
    &:after {
      border-color: $blue;
      background: $blue;
    }
  }
}
.fancybox-caption-wrap {
  background: linear-gradient(to bottom, transparent 0%,  rgba(0, 0, 0,0.1) 20%, rgba(0, 0, 0,0.2) 40%, rgba(0, 0, 0,0.6) 100%)
}
.fancybox-caption {
  padding: 12px 0;
  text-align: center;
}

/* Google map infobox */
.google-map {
  .si-wrapper-top {
    margin-top: -50px;
  }
  .si-frame {
    backface-visibility: hidden;
    border-radius: 4px;
  }
  .si-shadow-wrapper-top {
    opacity: 0;
  }
  .si-has-border .si-content-wrapper {
    border: none;
    box-shadow: 0 4px 20px rgba(35,37,40,.1);
  }
  .si-pointer-bg-top {
    border-top-color: $white;
  }
  .si-pointer-top {
    border-width: 10px !important;
  }
  .si-content-wrapper {
    text-align: center;
    width: 140px;
    background-color: $white;
    padding: 15px;
    .title {
      margin: 0;
      line-height: normal;
    }
  }
}

/* range slider */
.irs {
  position: relative;
  float: left;
  width: 100%;
}
.irs-line {
  height: 1px;
  background: $blue;
  cursor: pointer;
}
.irs-bar {
  position: absolute;
  top: 0;
  height: 1px;
  background: $blue;
  cursor: pointer;
  transition: background 250ms ease-in-out;
}
.from,
.to {
  position: absolute;
  top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $blue;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  &:hover {
    background: lighten($blue,7%);
  }
  &:active {
    background: lighten($blue,7%);
  }
}
.from {
  transform: translate(-50%,0);
}
.to {
  transform: translate(50%,0);
}
.irs-from,
.irs-to {
  z-index: 3;
  float: left;
  top: 15px;
  font-size: 20px;
  font-weight: 100;
  color: $black;
  cursor: pointer;
  pointer-events: none;
  visibility: visible !important;
  @include xs {
    font-size: 18px;
  }
}
.irs-from {
  left: 0 !important;
}
.irs-to {
  left: auto !important;
  right: 0 !important;
}
.irs-single {
  display: none;
  z-index: 3;
  top: -58px;     
  font-size: 16px;
  color: $black;
  cursor: pointer;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  background: $white;
  text-align: center;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.15);
  @include xs {
    font-size: 14px;
  }
  &:after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $white;
  }
}

/* SLick */
.slick-track {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .slick-slide {
    float: none;
    display: flex;
    height: auto;
    justify-content: center;
    outline: none;
    & > div {
      display: flex;
      width: 100%;
    }
  }
}