// Popups
.order-call-popup {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(35, 37, 40, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease;
  &.active {
    opacity: 1;
    visibility: visible;
    .wrapper-popup {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
  .wrapper-popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background: $white;
    padding: 30px 60px 30px 60px;
    transition: all 1000ms cubic-bezier(0.42, 0.01, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    display: flex;
    justify-content: center;
    min-height: 100%;
    flex-direction: column;
    @include below(500px) {
      max-width: 100%;
    }
    @include below(350px) {
      padding: 30px 40px 30px 40px;
    }
    .close {
      position: absolute;
      top: 20px;
      left: auto;
      right: 20px;
    }
    h3 {
      margin: 0;
      float: left;
      width: 100%;
      font-size: 32px;
      font-weight: 700;
      color: $black;
      text-align: center;
      margin: 0;
      @include below(500px) {
        font-size: 28px;
      }
    }
    form {
      float: left;
      width: 100%;
      margin-top: 30px;
      input {
        float: left;
        width: 100%;
        height: 50px;
        background: #f0f0f0;
        border: 1px solid transparent;
        border-radius: 3px;
        padding: 0 15px;
        cursor: pointer;
        font-family: $font-1;
        font-size: 14px;
        color: $black;
        transition: all 350ms ease;
        margin-bottom: 15px;
        @include below(500px) {
          height: 40px;
        }
        &.error {
          background: #fcebeb;
          border-color: $red;
          transform-origin: center center;
        }
        &:focus {
          background: $white;
          border-color: $blue;
          box-shadow: 0 5px 20px rgba(35, 37, 40, 0.1);
        }
      }
      textarea {
        float: left;
        width: 100%;
        height: 130px;
        background: #d9c9b2;
        border: none;
        border-left: 2px solid transparent;
        padding: 10px 15px;
        cursor: pointer;
        font-family: $font-1;
        font-size: 18px;
        text-align: center;
        color: $black;
        transition: all 350ms ease;
        margin-top: 5px;
        &:focus {
          background: $white;
        }
        &.error {
          border-color: $red;
          transform-origin: center center;
          animation: error-form 500ms ease;
        }
        &.valid {
          border-color: $green;
          animation: valid-form 500ms ease;
        }
      }
      .row {
        margin: 0 -5px;
      }
      .col-md-4,
      .col-md-8 {
        padding: 0 5px;
        @include below(500px) {
          width: 100%;
        }
      }
      .select2 {
        @include below(500px) {
          margin-bottom: 15px;
        }
      }
      .btn-submit {
        float: left;
        width: 100%;
        margin-top: 15px;
        @include below(500px) {
          margin-top: 0;
        }
      }
    }
  }
}
// shares
.popup-shares {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(17,17,17,0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease;
  &.active {
    opacity: 1;
    visibility: visible;
    background-color: rgba(17,17,17,0.95);
    .wrapper-popup {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%,-50%);
      @include below(600px) {
        transform: translate(0,-50%);
      }
    }
  }
  .prev,
  .next {
    position: absolute;
    top: 50%;
    float: left;
    display: block;
    margin-top: -10px;
    svg {
      width: 20px;
      height: 20px;
      fill: $white;
    }
  }
  .prev {
    left: 20px;
    @include below(600px) {
      top: 24px;
      left: 50%;
      margin-left: -40px;
    }
  }
  .next {
    right: 20px;
    @include below(600px) {
      right: auto;
      top: 24px;
      left: 50%;
      margin-left: 20px;
    }
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(35, 37, 40, 0.4);
    transition: all 300ms ease;
    @include below(600px) {
      top: 5px;
      right: 5px;
    }
    &:hover {
      svg {
        fill: $blue;
        
      }
    }
    svg {
      @include below(600px) {
        fill: $white;
      }
    }
  }
  .wrapper-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    margin: 0;
    float: left;
    width: 840px;
    padding: 0;
    text-align: center;
    transition: all 1000ms cubic-bezier(0.42, 0.01, 0.2, 1) 500ms;
    opacity: 0;
    visibility: hidden;
    @include below(1100px) {
      width: 700px;
    }
    @include below(900px) {
      width: 600px;
    }
    @include below(800px) {
      width: 400px;
    }
    @include below(600px) {
      left: 0;
      transform: none;
      width: 100%;
    }
    .slick-slider .slick-list, .slick-slider .slick-track {
      transform: none;
    }
    .slider-shares {
      float: left;
      width: 100%;
      .slick-slide {
        position: relative;
        outline: none;
      }
    }
    img {
      float: left;
      width: 100%;
      margin-bottom: 40px;
      @include below(600px) {
        margin-bottom: 25px;
      }
    }
    .more {
      display: inline-block;
    }
  }
}
// feedback
.feedback-popup {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(35, 37, 40, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease;
  &.active {
    opacity: 1;
    visibility: visible;
    .wrapper-popup {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .wrapper-popup {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    width: 100%;
    background: #ebebeb;
    padding: 70px 40px 70px 40px;
    transition: all 1000ms cubic-bezier(0.42, 0.01, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    text-align: center;
    @include below(700px) {
      padding: 40px 30px 40px 30px;
    }
    .close {
      position: absolute;
      top: -80px;
      left: 50%;
      margin-left: -25px;
      background: rgba(35,37,40,0.6);
      &:hover {
        background: rgba(35,37,40,1);
      }
      svg {
        @include below(600px) {
          fill: $white;
        }
      }
    }
    h3 {
      font-size: 32px;
      margin: 0;
      @include below(700px) {
        font-size: 24px;
      }
    }
    form {
      float: left;
      width: 100%;
      margin-top: 30px;
      @include below(700px) {
        margin-top: 20px;
      }
      input {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        max-width: 400px;
        height: 50px;
        background: #f5f5f5;
        border: 1px solid transparent;
        border-radius: 3px;
        padding: 0 15px;
        cursor: pointer;
        font-family: $font-1;
        font-size: 14px;
        color: $black;
        transition: all 350ms ease;
        @include below(700px) {
          height: 40px;
        }
        &.error {
          background: #fcebeb;
          border-color: $red;
          transform-origin: center center;
        }
        &:focus {
          background: $white;
          border-color: $blue;
          box-shadow: 0 5px 20px rgba(35, 37, 40, 0.1);
        }
      }
      .wrapper-btn {
        display: inline-block;
        vertical-align: middle;
        @include below(700px) {
          float: left;
          width: 100%;
          text-align: center;
          margin-top: 20px;
        }
      }
      .btn-submit {
        display: inline-block;
        vertical-align: middle;
        height: 50px;
        border-radius: 25px;
        margin-left: 15px;
        @include below(700px) {
          height: 40px;
          border-radius: 20px;
          padding: 0 40px;
          margin-left: 0;
        }
        &:before {
          border-radius: 25px;
          @include below(700px) {
            border-radius: 20px;
          }
        }
      }
    }
  }
}
// more
.more-popup {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(35, 37, 40, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease;
  &.active {
    opacity: 1;
    visibility: visible;
    .wrapper-popup {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .wrapper-popup {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    width: 100%;
    background: #ebebeb;
    padding: 70px 40px 70px 40px;
    transition: all 1000ms cubic-bezier(0.42, 0.01, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    text-align: center;
    @include below(700px) {
      padding: 40px 30px 40px 30px;
    }
    .close {
      position: absolute;
      top: -80px;
      left: 50%;
      margin-left: -25px;
      background: rgba(35,37,40,0.6);
      &:hover {
        background: rgba(35,37,40,1);
      }
      svg {
        @include below(600px) {
          fill: $white;
        }
      }
    }
    h3 {
      font-size: 32px;
      margin: 0;
      @include below(700px) {
        font-size: 24px;
      }
    }
    form {
      float: left;
      width: 100%;
      margin-top: 30px;
      @include below(700px) {
        margin-top: 20px;
      }
      input {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        max-width: 400px;
        height: 50px;
        background: #f5f5f5;
        border: 1px solid transparent;
        border-radius: 3px;
        padding: 0 15px;
        cursor: pointer;
        font-family: $font-1;
        font-size: 14px;
        color: $black;
        transition: all 350ms ease;
        @include below(700px) {
          height: 40px;
        }
        &.error {
          background: #fcebeb;
          border-color: $red;
          transform-origin: center center;
        }
        &:focus {
          background: $white;
          border-color: $blue;
          box-shadow: 0 5px 20px rgba(35, 37, 40, 0.1);
        }
      }
      .wrapper-btn {
        display: inline-block;
        vertical-align: middle;
        @include below(700px) {
          float: left;
          width: 100%;
          text-align: center;
          margin-top: 20px;
        }
      }
      .btn-submit {
        display: inline-block;
        vertical-align: middle;
        height: 50px;
        border-radius: 25px;
        margin-left: 15px;
        @include below(700px) {
          height: 40px;
          border-radius: 20px;
          padding: 0 40px;
          margin-left: 0;
        }
        &:before {
          border-radius: 25px;
          @include below(700px) {
            border-radius: 20px;
          }
        }
      }
    }
  }
}