section.section-home {
  float: left;
  width: 100%;
  margin-top: 40px;
  .sprite {
    @include sprite($bars);
  }
  .svg-animate {
    float: left;
    width: 400px;
    height: 400px;
    path {
      stroke: $red;
      stroke-width: 3px;
      fill: none;
    }
  }
  .animate-elem {
    clear: both;
    float: left;
    padding: 20px;
    background: $red;
    span {
      color: $white;
    }
  }

  // Reveal box
  .reveal-box {
    position: relative;
    overflow: hidden;
    float: left;
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #FFFD81;
      transform-origin: 50% 50% 0;
      opacity: 0;
    }
    .content {
      opacity: 0;
      .wrapper-p {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          font-size: 30px;
          font-weight: 700;
          text-transform: uppercase;
          color: $white;
          text-shadow: 0 2px 20px $black;
          margin: 0;
        }
      }
    }
  }

  // Snazzy infowindow
  .map-canvas {
    float: left;
    width: 100%;
    height: 500px;
    margin: 40px 0;
    .si-frame {
      backface-visibility: hidden;
      border-radius: 0;
    }
    .si-shadow-wrapper-top {
      opacity: 0;
    }
    .si-has-border .si-content-wrapper {
      border: none;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    }
    .si-content-wrapper {
      background-color: #b7b7b7;
    }
    .si-pointer-bg-top {
      border-top-color: #b7b7b7;
    }
  }

  // ScrollMonitor
  .trigger-scroll {
    float: left;
  }
}
