aside.sidebar-menu {
  z-index: 500;
  top:0;
  left:0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  width: 300px;
  height: 100%;
  background: $white;
  box-shadow: 0 0 60px rgba(29, 30, 32, 0.15);
  transform-origin: left center;
  transform: rotateY(-90deg);
  transition: all 500ms ease;
  @include below(400px) {
    width: 100%;
  }
  &.active {
    transform: rotateY(0);
  }
  .wrapper-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    width: 100%;
  }
  .close {
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .logo {
    // @include sprite($logo);
  }
  .list-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    li {
      text-transform: uppercase;
    }
    a {
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: 300;
      padding: 10px 0;
      color: $black;
      transition: all 300ms cubic-bezier(.02,.01,.47,1);
      &:hover {
        color: $blue;
        &:after {
          opacity: 1;
          transform: rotateY(0deg);
        }
      }
      &:after {
        pointer-events: none;
        position: absolute;
        bottom: 4px;
        left: 0;
        display: block;
        content: "";
        background: $blue;
        width: 100%;
        height: 1px;
        backface-visibility: hidden;
        opacity: 0;
        transform: rotateY(-90deg);
        transition: all 1000ms cubic-bezier(.02,.01,.47,1);
      }
    }
  }
  .wrapper-call {
    display: flex;
    flex-direction: column;
    align-items: center;
    .phone {
      display: flex;
      flex-direction: column;
      order: 2;
      text-align: center;
      font-size: 22px;
      color: $black;
      margin-top: 15px;
      @include below(1200px) {
        font-size: 18px;
        font-weight: 500;
      }
      &:hover {
        color: $blue;
        .work-time {
          color: $black;
        }
      }
      .work-time {
        display: block;
        width: 100%;
        font-size: 14px;
        color: $black;
        margin-top: 2px;
        @include below(1200px) {          
          font-weight: 100;
        }
      }
    }
    .order-call {
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      order: 1;
      width: 48px;
      height: 48px;
      background: $blue;
      border-radius: 50%;
      padding: 0;
      &:hover {
        &:before {
          animation: order-call-before 2000ms cubic-bezier(.02,.01,.47,1) infinite;
        }
        svg {
          animation: order-call-svg 2000ms cubic-bezier(.02,.01,.47,1) alternate infinite;
        }
      }
      &:before {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: "";
        background: lighten($blue,5%);
        border-radius: 50%;
        backface-visibility: hidden;
        transform: scale(0);
      }
      svg {
        z-index: 2;
        position: relative;
        width: 24px;
        height: 24px;
        fill: $white;
        backface-visibility: hidden;
        margin: 0;
      }
    }
  }
}