ul.list-nav
  li
    a(href="catalog.html") Каталог
      hr.line
  li
    a(href="company.html") О компании
      hr.line
  li
    a(href="#") Оптовикам
      hr.line
  li
    a(href="news.html") Новости
      hr.line
  li
    a(href="partners.html") Партнеры
      hr.line
  li
    a(href="contacts.html") Контакты
      hr.line