<!--[if lt IE 9]>
<p class="browsehappy">Вы используете <strong>неподдерживаемый</strong> браузер. Пожалуйста, скачайте новый браузер <a href="http://browsehappy.com/"><strong>здесь</strong></a></p>
<![endif]-->