.option-menu-bg
.block-option-menu
  a.link-show-cart(href="#")
    i.icon-cart
    span 32
  a.link-show-calc(href="#")
    i.icon-calc
  a.link-show-download(href="#")
    i.icon-download
  a.link-show-doc(href="#")
    i.icon-doc
.block-option-menu-mobile
  a.link-show-cart(href="#")
    i.icon-cart
    span 32
  a.link-show-calc(href="#")
    i.icon-calc
  a.link-show-download(href="#")
    i.icon-download
  a.link-show-doc(href="#")
    i.icon-doc
section.cart
  .block-cart
    h2.title Корзина
      a.link-close(href="#") Закрыть
    .block-product
      hr
      p.name-product Лампа Verbatim LED Candle Clear E14 3,8 Вт
      .block-count
        input.field-count(type="text" value="12")
        a.plus(href="#")
          span
        a.minus(href="#")
          span
      p.price-product 5 850 P
      a.close-product(href="#")
        i.icon-cross
    .block-product
      hr
      p.name-product Лампа Verbatim LED Classic A E27 6 Вт
      .block-count
        input.field-count(type="text" value="12")
        a.plus(href="#")
          span
        a.minus(href="#")
          span
      p.price-product 3 850 P
      a.close-product(href="#")
        i.icon-cross
    .block-product
      hr
      p.name-product Лампа Verbatim LED Classic A E27 6 Вт
      .block-count
        input.field-count(type="text" value="12")
        a.plus(href="#")
          span
        a.minus(href="#")
          span
      p.price-product 3 850 P
      a.close-product(href="#")
        i.icon-cross
    .block-product
      hr
      p.name-product Лампа Verbatim LED Candle Clear E14 3,8 Вт
      .block-count
        input.field-count(type="text" value="12")
        a.plus(href="#")
          span
        a.minus(href="#")
          span
      p.price-product 3 850 P
      a.close-product(href="#")
        i.icon-cross
    hr
    .block-result
      p.result Итог
      span.price-result 29 850 P
    hr.last-line
    .clearfix
    a.link-clear(href="#") Очистить корзину
    button.btn-order Заказать

section.order
  .block-order
    h2.title Оформление заказа
      a.link-in-cart(href="#") Корзина
    hr
    form#validateOrder(action="#")
      .row
        .col-xs-12.col-sm-8.col-md-8
          .block-left
            .row
              .col-xs-12.col-sm-6.col-md-6
                label Имя
                  input(type="text" name="firstName")
              .col-xs-12.col-sm-6.col-md-6
                label Фамилия
                  input(type="text" name="lastName")
              .col-xs-12.col-sm-6.col-md-6
                label Телефон
                  input(type="text" name="phone")
              .col-xs-12.col-sm-6.col-md-6
                label Email
                  input(type="text" name="email")
              .col-xs-12.col-sm-12.col-md-12
                label Улица, дом, квартира
                  input(type="text" name="address")
              .col-xs-12.col-sm-12.col-md-12
                label Комментарий к заказу
                  textarea(name="message")
        .col-sm-4.col-md-4
          .block-right
            .row
              .col-xs-12.col-sm-12.col-md-12
                label Город
                select.city(name="city-options")
                  option Ежино
                  option(selected="selected") Лосино-Петровский
                  option Ежино 2
                  option Ежино 3
              .col-xs-12.col-sm-12.col-md-12
                label Доставка
                .block-checked
                  input#samovivoz(type="radio" name="dostavka")
                  label.label-radio(for="samovivoz") Самовывоз, Москва, проезд Одоевского, д.2А
                  input#kurer(type="radio" name="dostavka" checked="checked")
                  label.label-radio(for="kurer") Курьерская доставка
                  input#transport(type="radio" name="dostavka")
                  label.label-radio(for="transport") Транспортная компания
              .col-xs-12.col-sm-12.col-md-12
                label Оплата
                .block-checked
                  input#nal(type="radio" name="oplata")
                  label.label-radio(for="nal") Наличными
                  input#beznal(type="radio" name="oplata" checked="checked")
                  label.label-radio(for="beznal") Безналичный расчет
                  input#kard(type="radio" name="oplata")
                  label.label-radio(for="kard") Visa, MasterCard
        .inner-line
          hr.last-line
        .col-xs-12.col-sm-8.col-md-8
          a.link-clear(href="#") Очистить все поля
        .col-xs-12.col-sm-4.col-md-4
          button.btn-order Оформить
  
section.calculator-1
  h2.title Калькулятор экономии
    a.link-close(href="#") Закрыть
  hr.first-line
  form(action="#")
    .row
      .block-lamp-option
        .col-xs-12.col-sm-6.col-md-6
          input#checkbox1(type="checkbox" name="lamps" checked="checked")
          label.label-checkbox(for="checkbox1")
            i.icon-check
            span Лампы накаливания
          .block-option
            .block-count-lamp
              span.question Сколько ламп накаливания в вашей квартире?
              .block-count
                input.field-count(type="text" value="3")
                a.plus(href="#")
                  span
                a.minus(href="#")
                  span
            .clearfix
            .block-hours-work
              .row
                .block-title.visible-sm
                  span Часы работы
                  span Средняя мощность лампы
                .col-xs-12.col-sm-6.col-md-6
                  span.descr.descr-first.hidden-sm Часы работы
                    br.hide-in-mobile
                    | в сутки
                  input.field-hours(type="text" value="5")
                .col-xs-12.col-sm-6.col-md-6
                  span.descr.hidden-sm Средняя мощность лампы
                  select.power-lamp(name="power-lamp")
                    option 100 Вт
                    option(selected="selected") 200 Вт
                    option 150 Вт
                    option 300 Вт
        .col-xs-12.col-sm-6.col-md-6
          input#checkbox2(type="checkbox" name="energy")
          label.label-checkbox(for="checkbox2")
            i.icon-check
            span Энергосберегающие
          .block-option
            .block-count-lamp
              span.question Сколько энергосберегающих ламп в вашей квартире?
              .block-count
                input.field-count(type="text" value="5")
                a.plus(href="#")
                  span
                a.minus(href="#")
                  span
            .clearfix
            .block-hours-work
              .row
                .block-title.visible-sm
                  span Часы работы
                  span Средняя мощность лампы
                .col-xs-12.col-sm-6.col-md-6
                  span.descr.descr-first.hidden-sm Часы работы
                    br.hide-in-mobile
                    | в сутки
                  input.field-hours(type="text" value="5")
                .col-xs-12.col-sm-6.col-md-6
                  span.descr.hidden-sm Средняя мощность лампы
                  select.power-lamp(name="power-lamp")
                    option 100 Вт
                    option(selected="selected") 200 Вт
                    option 150 Вт
                    option 300 Вт
      .col-xs-12.col-sm-12.col-md-12
        hr
      .col-xs-12.col-sm-6.col-md-6
        .block-vt
          span.descr Тариф
          input.field-vt(type="text" value="20")
          span.vt Р/кВт·ч
      .col-xs-12.col-sm-12.col-md-12
        .block-cap 
          ul.list-cap
            li
              a(href="#")
                i.icon-cap.cap-1
                span.name E 27
            li
              a.active(href="#")
                i.icon-cap.cap-2
                span.name E 14
            li
              a(href="#")
                i.icon-cap.cap-3
                span.name GU 10
            li
              a(href="#")
                i.icon-cap.cap-4
                span.name GU 5.3
            li
              a(href="#")
                i.icon-cap.cap-5
                span.name GU 4
            li
              a(href="#")
                i.icon-cap.cap-6
                span.name G 53
            li
              a(href="#")
                i.icon-cap.cap-7
                span.name G 4
            li
              a(href="#")
                i.icon-cap.cap-8
                span.name G 13
      .col-xs-12.col-sm-12.col-md-12
        hr
      .col-xs-12.col-sm-12.col-md-6
        a.link-clear(href="#") Очистить все поля
      .col-xs-12.col-sm-12.col-md-6
        button.btn-order Показать расчет

section.calculator-2
  .col-xs-12.col-sm-12.col-md-12
    h2.title Расчет
      a.link-close(href="#") Закрыть калькулятор   
    hr.first-line
    .block-calculated
      h4.title-calculated Ваши светильники потребляют около
      .row
        .col-xs-4.col-sm-4.col-md-4
          span.price-year 258 Р
          span.year за 1 год
        .col-xs-4.col-sm-4.col-md-4
          span.price-year.center 1 258 Р
          span.year.center за 5 год
        .col-xs-4.col-sm-4.col-md-4
          span.price-year.right 2 258 Р
          span.year.right за 10 год
  .block-calculated.block-calculated-bottom
    h4.title-calculated Возможная экономия со светильниками LED
    .row
      .col-xs-4.col-sm-4.col-md-4
        span.price-year 258 Р
        span.year за 1 год
      .col-xs-4.col-sm-4.col-md-4
        span.price-year.center 1 258 Р
        span.year.center за 5 год
      .col-xs-4.col-sm-4.col-md-4
        span.price-year.right 2 258 Р
        span.year.right за 10 год
  .col-xs-12.col-sm-6.col-md-6
    a.change-calculated(href="#") Изменить данные расчета
  .col-xs-12.col-sm-6.col-md-6
    button.btn-full-calculated Подробный расчет
  .col-md-12
    hr
    .block-alternative
      h4.title-alternative Альтернативное решение
      .block-product
        .block-left
          img.img-product.resp(src="images/catalog/products/product-1.png", alt="Product")
          .inner-descr
            p.name-product Лампа Verbatim LED Candle Clear E14 3,8 Вт
            span.price-product 585 P
        .block-right
          .block-count
            input.field-count(type="text" value="5")
            a.plus(href="#")
              span
            a.minus(href="#")
              span
          a.curt(href="#")
      .block-product
        .block-left
          img.img-product.resp(src="images/catalog/products/product-2.png", alt="Product")
          .inner-descr
            p.name-product Лампа Verbatim LED Candle Clear E14 3,8 Вт
            span.price-product 1 585 P
        .block-right
          .block-count
            input.field-count(type="text" value="5")
            a.plus(href="#")
              span
            a.minus(href="#")
              span
          a.curt(href="#")
      .block-product
        .block-left
          img.img-product.resp(src="images/catalog/products/product-1.png", alt="Product")
          .inner-descr
            p.name-product Лампа Verbatim LED Candle Clear E14 3,8 Вт
            span.price-product 2 585 P
        .block-right
          .block-count
            input.field-count(type="text" value="5")
            a.plus(href="#")
              span
            a.minus(href="#")
              span
          a.curt(href="#")
      .block-product
        .block-left
          img.img-product.resp(src="images/catalog/products/product-2.png", alt="Product")
          .inner-descr
            p.name-product Лампа Verbatim LED Candle Clear E14 3,8 Вт
            span.price-product 3 585 P
        .block-right
          .block-count
            input.field-count(type="text" value="5")
            a.plus(href="#")
              span
            a.minus(href="#")
              span
          a.curt(href="#")

section.calculator-full
  .col-xs-12.col-sm-12.col-md-12
    h2.title Подробный расчет
      a.link-close(href="#") Закрыть калькулятор
    hr.first-line
    .block-calculated
      h4.title-calculated Ваши светильники потребляют около
      .row
        .col-xs-4.col-sm-4.col-md-4
          span.price-year 258 Р
          span.year за 1 год
        .col-xs-4.col-sm-4.col-md-4
          span.price-year.center 1 258 Р
          span.year.center за 5 год
        .col-xs-4.col-sm-4.col-md-4
          span.price-year.right 2 258 Р
          span.year.right за 10 год
  .block-calculated.block-calculated-bottom
    h4.title-calculated Возможная экономия со светильниками LED
    .row
      .col-xs-4.col-sm-4.col-md-4
        span.price-year 258 Р
        span.year за 1 год
      .col-xs-4.col-sm-4.col-md-4
        span.price-year.center 1 258 Р
        span.year.center за 5 год
      .col-xs-4.col-sm-4.col-md-4
        span.price-year.right 2 258 Р
        span.year.right за 10 год
  .col-xs-12.col-sm-12.col-md-12
    .table-calculated-top
      .row
        .col-xs-12.col-sm-4.col-md-4
          .col.col-1
            p Лампы накаливания
            .sub-col.sub-col-1
              .col-xs-4.col-sm-4.col-md-4
                span 1 год
            .sub-col.sub-col-2
              .col-xs-4.col-sm-4.col-md-4
                span 5 год
            .sub-col.sub-col-3
              .col-xs-4.col-sm-4.col-md-4
                span 10 год
          .table-bottom.visible-xs
            p Перегорело ламп за это время, шт.
            .col.col-1
              .col-xs-12.col-sm-4.col-md-4
                .sub-col.sub-col-1
                  .col-xs-4.col-sm-4.col-md-4
                    span.border-left 1*
                .sub-col.sub-col-2
                  .col-xs-4.col-sm-4.col-md-4
                    span 9*
                .sub-col.sub-col-3
                  .col-xs-4.col-sm-4.col-md-4
                    span 18*
        .col-xs-12.col-sm-4.col-md-4
          .col.col-2
            p Энергосберегающие
            .sub-col.sub-col-1
              .col-xs-4.col-sm-4.col-md-4
                span 1 год
            .sub-col.sub-col-2
              .col-xs-4.col-sm-4.col-md-4
                span 5 год
            .sub-col.sub-col-3
              .col-xs-4.col-sm-4.col-md-4
                span 10 год
          .table-bottom.visible-xs
            p Перегорело ламп за это время, шт.
            .col.col-1
              .col-xs-12.col-sm-4.col-md-4
                .sub-col.sub-col-1
                  .col-xs-4.col-sm-4.col-md-4
                    span -
                .sub-col.sub-col-2
                  .col-xs-4.col-sm-4.col-md-4
                    span -
                .sub-col.sub-col-3
                  .col-xs-4.col-sm-4.col-md-4
                    span -
        .col-xs-12.col-sm-4.col-md-4
          .col.col-3
            p LED
            .sub-col.sub-col-1
              .col-xs-4.col-sm-4.col-md-4
                span 1 год
            .sub-col.sub-col-2
              .col-xs-4.col-sm-4.col-md-4
                span 5 год
            .sub-col.sub-col-3
              .col-xs-4.col-sm-4.col-md-4
                span 10 год
          .table-bottom.visible-xs
            p Перегорело ламп за это время, шт.
            .col.col-1
              .col-xs-12.col-sm-4.col-md-4
                .sub-col.sub-col-1
                  .col-xs-4.col-sm-4.col-md-4
                    span 0*
                .sub-col.sub-col-2
                  .col-xs-4.col-sm-4.col-md-4
                    span 0*
                .sub-col.sub-col-3
                  .col-xs-4.col-sm-4.col-md-4
                    span 0*
    .table-calculated-bottom.hidden-xs
      .row
        .col-xs-12.col-sm-12.col-md-12
          p Перегорело ламп за это время, шт.
          .col.col-1
            .col-xs-12.col-sm-4.col-md-4
              .sub-col.sub-col-1
                .col-xs-4.col-sm-4.col-md-4
                  span 1*
              .sub-col.sub-col-2
                .col-xs-4.col-sm-4.col-md-4
                  span 9*
              .sub-col.sub-col-3
                .col-xs-4.col-sm-4.col-md-4
                  span 18*
          .col.col-2
            .col-sm-4.col-md-4
              .sub-col.sub-col-1
                .col-sm-4.col-md-4
                  span -
              .sub-col.sub-col-2
                .col-sm-4.col-md-4
                  span -
              .sub-col.sub-col-3
                .col-sm-4.col-md-4
                  span -
          .col.col-3
            .col-sm-4.col-md-4
              .sub-col.sub-col-1
                .col-sm-4.col-md-4
                  span 0*
              .sub-col.sub-col-2
                .col-sm-4.col-md-4
                  span 0*
              .sub-col.sub-col-3
                .col-sm-4.col-md-4
                  span 0*
    p.term 
      | * за основу взят гарантированный срок эксплуатации. Лампы накаливания — 1 000 часов; энергосберегающие — 8 000 часов; cветодиодные — 30 000 часов
    hr
  .col-xs-12.col-sm-6.col-md-6
    a.link-change(href="#") Изменить данные расчета
  .col-xs-12.col-sm-6.col-md-6
    button.btn-turn Свернуть расчет