section.section-home
  .container-fluid
    h1 My project
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga possimus animi repellat accusantium voluptatibus! Aliquid laborum voluptatibus similique sit iusto, ducimus eveniet, temporibus nam illo commodi distinctio, hic incidunt soluta!
    button button
  

  