.clearfix
<!--[if lt IE 9]>
<p class="browsehappy">Ваш браузер <strong>устарел</strong>. Пожалуйста, скачайте новый браузер <a href="http://browsehappy.com/">http://browsehappy.com/</a></p>
<![endif]-->
    