@import 'nib'
@import 'packages/_variables.styl'
@import 'packages/_rupture.styl'
@import 'packages/_mixins.styl'
@import 'packages/_setings.styl'
@import 'packages/_sprite.styl'

/*====================================
=            INDEX STYLES            =
====================================*/

/*==============================
=            HEADER            =
==============================*/

.header
   background $red

/*===============================
=            CONTENT            =
===============================*/

.main
   background $green

/*==============================
=            FOOTER            =
==============================*/

.footer
   background $blue