@import 'nib'
@import 'packages/_rupture.styl'
@import 'packages/_variables.styl'
@import 'packages/_mixins.styl'
@import 'packages/_settings.styl'
@import 'packages/_grid.styl'
@import 'packages/_sprite.styl'

/*==============================
=            HEADER            =
==============================*/

.header__inner
  background #d63

/*===============================
=            CONTENT            =
===============================*/

.main__inner
  background #a34

/*==============================
=            FOOTER            =
==============================*/

.footer__inner
  background #555