@import 'nib'
@import 'modules/_mixins.styl'
@import 'modules/_variables.styl'
@import 'modules/_rupture.styl'
@import 'modules/_settings.styl'
@import 'modules/_grid.styl'
@import 'modules/_sprite.styl'

/*==============================
=            HEADER            =
==============================*/

@import '_includes/_header.styl'

/*============================
=            MAIN            =
============================*/
main
  float left
  width 100%
  
  .row
    +at(xs)
      margin 0 10px
      

/*==============================
=            FOOTER            =
==============================*/

@import '_includes/_footer.styl'

