footer.footer-page
  .container-fluid
    .row
      .col-md-3.col-sm-6.col-xs-6
        a.docs(href="about.html#documents") Проектная документация
        h5.title Мы в социальных сетях:
        .socials
          a(href="#")
          a(href="#")
      .col-md-3.col-sm-6.col-xs-6
        h5.title Наш адрес:
        address Московская обл., Ленинский район, с.п. Булатниковское, д. Жабкино
      .col-md-3.col-sm-6.col-xs-6
        h5.title Телефон:
        a.phone(href="tel:+74954567887") +7(495) 456-78-87
          span.work-time с 9.00 до 21.00
      .col-md-3.col-sm-6.col-xs-6
        a.logo-dev(href="#")
        p.norm Строительство по 
          a(href="#") ФЗ-214

  
