header.header-page
  .container-fluid
    .wrapper-header
      .wrapper-logo
        a.logo(href="index.html")
        button.btn-menu
          .lines
            .line.line--one
            .line.line--two
            .line.line--three
      ul.list-nav
        li
          a(href="about.html") О ПРОЕКТЕ
        li
          a(href="filter.html") КВАРТИРЫ
        li
          a(href="#") УСЛОВИЯ ПОКУПКИ
        li
          a(href="#") ХОД СТРОИТЕЛЬСТВА
        li
          a(href="contacts.html") КОНТАКТЫ
      .wrapper-call
        a.phone(href="tel:+74954567887") +7(495) 456-78-87
          span.work-time с 9.00 до 21.00
      
  

   
