aside.sidebar-menu {
  z-index: 20;
  position: absolute;
  top: 170px;
  left: 0;
  width: 420px;
  @include below(1500px) {
    top: 120px;
    width: 320px;
  }
  @include below-h(800px) {
    top: 120px;
    width: 320px;
  }
  @include below(1200px) {
    top: 0;
    left: 0;
    overflow: auto;
    width: 360px;
    height: 100%;
    background: $blue;
    transform: perspective(1000px) rotateX(50deg);
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ease;
  }
  @include below(400px) {
    width: 100%;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    transform: perspective(0) rotateY(0deg);
  }
  .close {
    display: none;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    @include below(1200px) {
      display: block;
    }
    &:hover {
      svg {
        fill: $light;
      }
    }
    svg {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      fill: $white;
      transition: all 300ms ease;
    }
  }
  .nav-menu {
    float: left;
    width: 100%;
    transition: all 600ms ease;
    perspective: 1000px;
    @include below(1200px) {
      margin-top: 20px;
    }
    .list-nav {
      float: left;
      width: 100%;
      text-align: center;
      > li {
        z-index: 5;
        position: relative;
        float: left;
        width: 100%;
        &:hover {
          z-index: 6;
          background: linear-gradient(to right, rgba(255,255,255,0) 10%, rgba(255,255,255,0.2), rgba(255,255,255,0) 90%);
          > a,
          > span {
            &:before {
              opacity: 1;
            }
          }
          .list-sub-menu {
            transform: translate(0,0) rotateX(0deg);
            opacity: 1;
            visibility: visible;
            border-color: $blue;
          }
        }
        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -65px;
          display: block;
          content: '';
          @include sprite($line-li-light);
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        > a,
        > span {
          position: relative;
          display: inline-block;
          font-size: 21px;
          font-weight: 600;
          letter-spacing: 4px;
          color: $white;
          text-transform: uppercase;
          text-align: center;
          cursor: pointer;
          padding: 8px 0;
          transition: all 400ms ease;
          @include below(1500px) {
            font-size: 18px;
          }
          @include below-h(800px) {
            font-size: 18px;
          }
          @include below(1200px) {
            font-size: 18px;
          }
          &:before {
            position: absolute;
            top: 50%;
            margin-top: -12px;
            left: -30px;
            display: block;
            content: '';
            @include sprite($note-light);
            opacity: 0;
            transition: opacity 400ms ease;
          }
        }
      }
    }
    .list-sub-menu {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -100px;
      width: 200px;
      background-color: $black;
      padding: 20px 30px;
      transform: translate(0,20px) rotateX(-45deg);
      transform-origin: center center;
      transform-style: preserve-3d;
      opacity: 0;
      visibility: hidden;
      transition: all 400ms ease;
      li {
        float: left;
        width: 100%;
      }
      a {
        float: left;
        line-height: normal;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: $white;
        padding: 6px 0;
        &:hover {
          color: $light;
        }
      }
    }
  }
  .phones {
    position: relative;
    z-index: -1;
    display: none;
    float: left;
    width: 100%;
    margin-top: 40px;
    @include below(1200px) {
      display: block;
    }
    .phone {
      float: left;
      width: 100%;
      text-align: center;
      font-size: 36px;
      color: $white;
      transition: all 400ms ease;
      margin-bottom: 10px;
      &:hover {
        span {
          opacity: 1;
        }
      }
      span {
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
        opacity: 0.6;
        margin-right: 10px;
        transition: all 400ms ease;
      }
    }
    .btn-order-call {
      display: block;
      margin: 0 auto;
      color: $black;
      background: $light;
    }
  }
  .oferta {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 0;
    float: left;
    width: 100%;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(252, 236, 213,0.2);
    padding: 0 40px;
    margin-top: 50px;
    @include below(1200px) {
      display: block;
    }
  }
}