include pug/_mixins/svg-icon.pug

doctype html
html
	head
		title Home
		include pug/meta.pug
		include pug/styles.pug
	body.page-home
		include pug/svg-sprite.pug
		include pug/_modules/page-loading.pug
		
		// Header
		include pug/_modules/header.pug

		// Nav menu
		include pug/_modules/nav-menu-mobile.pug

		main

			// Section Home
			section.section-home
				.container-page
					.container
						h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi enim dignissimos consectetur iusto nisi nulla corrupti facere quasi ad, molestias incidunt temporibus quis consequatur, laboriosam. Autem laborum quos in dolorum?
						+svg('arrow-down')



		// Footer
		include pug/_modules/footer.pug
				
		// Popups
		include pug/_modules/popups.pug

		

		include pug/scripts.pug
		
		

	

			

