main {
  float: left;
  width: 100%;
}
.animate {
  opacity: 0;
  transform: rotate(10deg) translate(0,50px) scale(0.2);
  transform-origin: bottom center;
  transition: all 1000ms ease;
  &.is-showing {
    opacity: 1;
    transform: rotate(0deg) translate(0,0) scale(1);
    transform-origin: bottom center;
  }
}
.btn {
  height: 50px;
  padding: 0 50px;
  border-radius: 25px;
  background-color: $green;
  box-shadow: 0 5px 12px rgba(0,0,0,.08);
  background: $blue;
  font-size: 12px;
  color: $white;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 400ms ease;
  &:hover {
    background-position: 100% 150%;
  }
}
