footer.footer-page
  .row
    .col-md-6.left-footer
        address 
          +svg('location')
          span г. Ярославль, Фрунзенский район, квартал, ограниченный ул. Доронина, Суздальской, Пожарского и южной городской чертой
        button.btn-feedback обратная связь
    .col-md-6.right-footer
      .row
        .col-md-6
          a.shares(href="#") 
            span.price 1,3 млн.
            p.descr 
              span Акция!
              br
              | КВАРТИРЫ от 1,3 млн руб.
        .col-md-6
          .block-docs
            button.btn-docs 
              span проектная 
              | документация
            p.copyright Copyright 2016
              br
              | ЖК “Южный”
  
