nav.nav-menu-mobile
  a.close.animate(href="#")
    +svg('cross')
  ul.list-nav
    li.animate
      span О проекте
      ul.list-sub-menu
        li
          a(href="#") О КОМПЛЕКСЕ
        li
          a(href="#") ПЛАН ЗАСТРОЙКИ
        li
          a(href="#") РАСПОЛОЖЕНИЕ
        li
          a(href="#") ИНФРАСТРУКТУРА
        li
          a(href="#") НОВОСТИ
        li
          a(href="#") ЗАСТРОЙЩИК
    li.animate 
      a(href="#") выбрать квартиру
    li.animate
      span условия покупки
      ul.list-sub-menu
        li
          a(href="#") ИПОТЕКА
        li
          a(href="#") РАССРОЧКА
        li
          a(href="#") АКЦИИ  
    li.animate 
      a(href="gallery.html") новости
    li.animate 
      a(href="contacts.html") контакты

  .clearfix
  hr.line.animate 
  a.phone.animate(href="tel:+78314395052") (4852) 33-05-70
  button.btn.btn-order-call.animate 
    .wrapper-btn заказать звонок
  .clearfix
  .row.bg-btns.animate
    button.btn-feedback обратная связь
    button.btn-docs Проектная документация
        