footer.footer-page
  p.oferta 
    span.descr информация  не является публичной офертой, определяемой положениями Статьи 437 ГК РФ        
    span.buy Продажа по ФЗ-214
  p.copyright 2016 Copyright ЖК Симфония  
  
