header.header-page
  .wrapper-logo
    a.logo(href="index.html")

  button.humburger.hamburger--spring
    span.hamburger-box
      span.hamburger-inner
  
  address ЕКАТЕРИНБУРГ, ул.КОУРОВСКАЯ, 13

  .change-page
    a(href="#" data-change-page="night")
      +svg('lunar')
    a.active(href="#" data-change-page="day")
      +svg('sun')
  
  .phones
    a.phone(href="tel:+73433611341") 
      span (343)
      | 361-13-41

    button.btn.btn-order-call заказать звонок

  

   
