header.header-page

  a.logo(href="index.html")

  button.gumburger
    .lines
      span.line
      span.line
      span.line

  nav.navigate
    ul.list-nav
      li 
        span О проекте
        ul.list-sub-menu
          li
            a(href="#") О КОМПЛЕКСЕ
          li
            a(href="#") ПЛАН ЗАСТРОЙКИ
          li
            a(href="#") РАСПОЛОЖЕНИЕ
          li
            a(href="#") ИНФРАСТРУКТУРА
          li
            a(href="#") НОВОСТИ
          li
            a(href="#") ЗАСТРОЙЩИК
      li 
        a(href="#") выбрать квартиру
      li
        span условия покупки
        ul.list-sub-menu
          li
            a(href="#") ИПОТЕКА
          li
            a(href="#") РАССРОЧКА
          li
            a(href="#") АКЦИИ  
      li 
        a(href="gallery.html") новости
      li 
        a(href="contacts.html") контакты

  .phones
    a.phone(href="tel:+78314395052") (4852) 33-05-70
    button.btn.btn-order-call
      .wrapper-btn заказать звонок
  

   
