/*==============================
=            MIXINS            =
==============================*/

font-url($nameFont,$url)

  @font-face
    font-family $nameFont
    font-style normal
    src url($url)

hr($value,$color)
   border-style none
   border-bottom $value solid $color


