/*=======================================
=            RUPTURE SETINGS            =
=======================================*/

rupture.scale       = $screen-xs $screen-xs-max $screen-sm-max $screen-md-max
rupture.scale-names = 'xs' 'sm' 'md' 'lg'