/*=======================================
=            RUPTURE SETINGS            =
=======================================*/

rupture.scale       = $screen-xs $screen-sm $screen-md $screen-lg
rupture.scale-names = 'xs' 'sm' 'md' 'lg'