/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_address_black_name = 'icon_address_black';
$icon_address_black_x = 0px;
$icon_address_black_y = 0px;
$icon_address_black_offset_x = 0px;
$icon_address_black_offset_y = 0px;
$icon_address_black_width = 30px;
$icon_address_black_height = 30px;
$icon_address_black_total_width = 145px;
$icon_address_black_total_height = 110px;
$icon_address_black_image = '../images/sprites/sprite.png';
$icon_address_black = 0px 0px 0px 0px 30px 30px 145px 110px '../images/sprites/sprite.png' 'icon_address_black';
$icon_address_green_name = 'icon_address_green';
$icon_address_green_x = 45px;
$icon_address_green_y = 0px;
$icon_address_green_offset_x = -45px;
$icon_address_green_offset_y = 0px;
$icon_address_green_width = 30px;
$icon_address_green_height = 30px;
$icon_address_green_total_width = 145px;
$icon_address_green_total_height = 110px;
$icon_address_green_image = '../images/sprites/sprite.png';
$icon_address_green = 45px 0px -45px 0px 30px 30px 145px 110px '../images/sprites/sprite.png' 'icon_address_green';
$icon_arrow_left_name = 'icon_arrow_left';
$icon_arrow_left_x = 125px;
$icon_arrow_left_y = 23px;
$icon_arrow_left_offset_x = -125px;
$icon_arrow_left_offset_y = -23px;
$icon_arrow_left_width = 20px;
$icon_arrow_left_height = 8px;
$icon_arrow_left_total_width = 145px;
$icon_arrow_left_total_height = 110px;
$icon_arrow_left_image = '../images/sprites/sprite.png';
$icon_arrow_left = 125px 23px -125px -23px 20px 8px 145px 110px '../images/sprites/sprite.png' 'icon_arrow_left';
$icon_arrow_left_hover_name = 'icon_arrow_left_hover';
$icon_arrow_left_hover_x = 35px;
$icon_arrow_left_hover_y = 90px;
$icon_arrow_left_hover_offset_x = -35px;
$icon_arrow_left_hover_offset_y = -90px;
$icon_arrow_left_hover_width = 20px;
$icon_arrow_left_hover_height = 8px;
$icon_arrow_left_hover_total_width = 145px;
$icon_arrow_left_hover_total_height = 110px;
$icon_arrow_left_hover_image = '../images/sprites/sprite.png';
$icon_arrow_left_hover = 35px 90px -35px -90px 20px 8px 145px 110px '../images/sprites/sprite.png' 'icon_arrow_left_hover';
$icon_arrow_right_name = 'icon_arrow_right';
$icon_arrow_right_x = 70px;
$icon_arrow_right_y = 90px;
$icon_arrow_right_offset_x = -70px;
$icon_arrow_right_offset_y = -90px;
$icon_arrow_right_width = 20px;
$icon_arrow_right_height = 8px;
$icon_arrow_right_total_width = 145px;
$icon_arrow_right_total_height = 110px;
$icon_arrow_right_image = '../images/sprites/sprite.png';
$icon_arrow_right = 70px 90px -70px -90px 20px 8px 145px 110px '../images/sprites/sprite.png' 'icon_arrow_right';
$icon_arrow_right_hover_name = 'icon_arrow_right_hover';
$icon_arrow_right_hover_x = 125px;
$icon_arrow_right_hover_y = 0px;
$icon_arrow_right_hover_offset_x = -125px;
$icon_arrow_right_hover_offset_y = 0px;
$icon_arrow_right_hover_width = 20px;
$icon_arrow_right_hover_height = 8px;
$icon_arrow_right_hover_total_width = 145px;
$icon_arrow_right_hover_total_height = 110px;
$icon_arrow_right_hover_image = '../images/sprites/sprite.png';
$icon_arrow_right_hover = 125px 0px -125px 0px 20px 8px 145px 110px '../images/sprites/sprite.png' 'icon_arrow_right_hover';
$icon_basket_name = 'icon_basket';
$icon_basket_x = 0px;
$icon_basket_y = 45px;
$icon_basket_offset_x = 0px;
$icon_basket_offset_y = -45px;
$icon_basket_width = 26px;
$icon_basket_height = 30px;
$icon_basket_total_width = 145px;
$icon_basket_total_height = 110px;
$icon_basket_image = '../images/sprites/sprite.png';
$icon_basket = 0px 45px 0px -45px 26px 30px 145px 110px '../images/sprites/sprite.png' 'icon_basket';
$icon_checkbox_name = 'icon_checkbox';
$icon_checkbox_x = 41px;
$icon_checkbox_y = 45px;
$icon_checkbox_offset_x = -41px;
$icon_checkbox_offset_y = -45px;
$icon_checkbox_width = 20px;
$icon_checkbox_height = 20px;
$icon_checkbox_total_width = 145px;
$icon_checkbox_total_height = 110px;
$icon_checkbox_image = '../images/sprites/sprite.png';
$icon_checkbox = 41px 45px -41px -45px 20px 20px 145px 110px '../images/sprites/sprite.png' 'icon_checkbox';
$icon_checkbox_active_name = 'icon_checkbox_active';
$icon_checkbox_active_x = 90px;
$icon_checkbox_active_y = 0px;
$icon_checkbox_active_offset_x = -90px;
$icon_checkbox_active_offset_y = 0px;
$icon_checkbox_active_width = 20px;
$icon_checkbox_active_height = 20px;
$icon_checkbox_active_total_width = 145px;
$icon_checkbox_active_total_height = 110px;
$icon_checkbox_active_image = '../images/sprites/sprite.png';
$icon_checkbox_active = 90px 0px -90px 0px 20px 20px 145px 110px '../images/sprites/sprite.png' 'icon_checkbox_active';
$icon_copyright_name = 'icon_copyright';
$icon_copyright_x = 90px;
$icon_copyright_y = 35px;
$icon_copyright_offset_x = -90px;
$icon_copyright_offset_y = -35px;
$icon_copyright_width = 20px;
$icon_copyright_height = 20px;
$icon_copyright_total_width = 145px;
$icon_copyright_total_height = 110px;
$icon_copyright_image = '../images/sprites/sprite.png';
$icon_copyright = 90px 35px -90px -35px 20px 20px 145px 110px '../images/sprites/sprite.png' 'icon_copyright';
$icon_cross_black_name = 'icon_cross_black';
$icon_cross_black_x = 0px;
$icon_cross_black_y = 90px;
$icon_cross_black_offset_x = 0px;
$icon_cross_black_offset_y = -90px;
$icon_cross_black_width = 20px;
$icon_cross_black_height = 20px;
$icon_cross_black_total_width = 145px;
$icon_cross_black_total_height = 110px;
$icon_cross_black_image = '../images/sprites/sprite.png';
$icon_cross_black = 0px 90px 0px -90px 20px 20px 145px 110px '../images/sprites/sprite.png' 'icon_cross_black';
$icon_cross_cart_black_name = 'icon_cross_cart_black';
$icon_cross_cart_black_x = 125px;
$icon_cross_cart_black_y = 46px;
$icon_cross_cart_black_offset_x = -125px;
$icon_cross_cart_black_offset_y = -46px;
$icon_cross_cart_black_width = 12px;
$icon_cross_cart_black_height = 12px;
$icon_cross_cart_black_total_width = 145px;
$icon_cross_cart_black_total_height = 110px;
$icon_cross_cart_black_image = '../images/sprites/sprite.png';
$icon_cross_cart_black = 125px 46px -125px -46px 12px 12px 145px 110px '../images/sprites/sprite.png' 'icon_cross_cart_black';
$icon_address_black_2x_name = 'icon_address_black_2x';
$icon_address_black_2x_x = 0px;
$icon_address_black_2x_y = 0px;
$icon_address_black_2x_offset_x = 0px;
$icon_address_black_2x_offset_y = 0px;
$icon_address_black_2x_width = 60px;
$icon_address_black_2x_height = 60px;
$icon_address_black_2x_total_width = 290px;
$icon_address_black_2x_total_height = 220px;
$icon_address_black_2x_image = '../images/sprites/sprite_2x.png';
$icon_address_black_2x = 0px 0px 0px 0px 60px 60px 290px 220px '../images/sprites/sprite_2x.png' 'icon_address_black_2x';
$icon_address_green_2x_name = 'icon_address_green_2x';
$icon_address_green_2x_x = 90px;
$icon_address_green_2x_y = 0px;
$icon_address_green_2x_offset_x = -90px;
$icon_address_green_2x_offset_y = 0px;
$icon_address_green_2x_width = 60px;
$icon_address_green_2x_height = 60px;
$icon_address_green_2x_total_width = 290px;
$icon_address_green_2x_total_height = 220px;
$icon_address_green_2x_image = '../images/sprites/sprite_2x.png';
$icon_address_green_2x = 90px 0px -90px 0px 60px 60px 290px 220px '../images/sprites/sprite_2x.png' 'icon_address_green_2x';
$icon_arrow_left_2x_name = 'icon_arrow_left_2x';
$icon_arrow_left_2x_x = 250px;
$icon_arrow_left_2x_y = 46px;
$icon_arrow_left_2x_offset_x = -250px;
$icon_arrow_left_2x_offset_y = -46px;
$icon_arrow_left_2x_width = 40px;
$icon_arrow_left_2x_height = 16px;
$icon_arrow_left_2x_total_width = 290px;
$icon_arrow_left_2x_total_height = 220px;
$icon_arrow_left_2x_image = '../images/sprites/sprite_2x.png';
$icon_arrow_left_2x = 250px 46px -250px -46px 40px 16px 290px 220px '../images/sprites/sprite_2x.png' 'icon_arrow_left_2x';
$icon_arrow_left_hover_2x_name = 'icon_arrow_left_hover_2x';
$icon_arrow_left_hover_2x_x = 70px;
$icon_arrow_left_hover_2x_y = 180px;
$icon_arrow_left_hover_2x_offset_x = -70px;
$icon_arrow_left_hover_2x_offset_y = -180px;
$icon_arrow_left_hover_2x_width = 40px;
$icon_arrow_left_hover_2x_height = 16px;
$icon_arrow_left_hover_2x_total_width = 290px;
$icon_arrow_left_hover_2x_total_height = 220px;
$icon_arrow_left_hover_2x_image = '../images/sprites/sprite_2x.png';
$icon_arrow_left_hover_2x = 70px 180px -70px -180px 40px 16px 290px 220px '../images/sprites/sprite_2x.png' 'icon_arrow_left_hover_2x';
$icon_arrow_right_2x_name = 'icon_arrow_right_2x';
$icon_arrow_right_2x_x = 140px;
$icon_arrow_right_2x_y = 180px;
$icon_arrow_right_2x_offset_x = -140px;
$icon_arrow_right_2x_offset_y = -180px;
$icon_arrow_right_2x_width = 40px;
$icon_arrow_right_2x_height = 16px;
$icon_arrow_right_2x_total_width = 290px;
$icon_arrow_right_2x_total_height = 220px;
$icon_arrow_right_2x_image = '../images/sprites/sprite_2x.png';
$icon_arrow_right_2x = 140px 180px -140px -180px 40px 16px 290px 220px '../images/sprites/sprite_2x.png' 'icon_arrow_right_2x';
$icon_arrow_right_hover_2x_name = 'icon_arrow_right_hover_2x';
$icon_arrow_right_hover_2x_x = 250px;
$icon_arrow_right_hover_2x_y = 0px;
$icon_arrow_right_hover_2x_offset_x = -250px;
$icon_arrow_right_hover_2x_offset_y = 0px;
$icon_arrow_right_hover_2x_width = 40px;
$icon_arrow_right_hover_2x_height = 16px;
$icon_arrow_right_hover_2x_total_width = 290px;
$icon_arrow_right_hover_2x_total_height = 220px;
$icon_arrow_right_hover_2x_image = '../images/sprites/sprite_2x.png';
$icon_arrow_right_hover_2x = 250px 0px -250px 0px 40px 16px 290px 220px '../images/sprites/sprite_2x.png' 'icon_arrow_right_hover_2x';
$icon_basket_2x_name = 'icon_basket_2x';
$icon_basket_2x_x = 0px;
$icon_basket_2x_y = 90px;
$icon_basket_2x_offset_x = 0px;
$icon_basket_2x_offset_y = -90px;
$icon_basket_2x_width = 52px;
$icon_basket_2x_height = 60px;
$icon_basket_2x_total_width = 290px;
$icon_basket_2x_total_height = 220px;
$icon_basket_2x_image = '../images/sprites/sprite_2x.png';
$icon_basket_2x = 0px 90px 0px -90px 52px 60px 290px 220px '../images/sprites/sprite_2x.png' 'icon_basket_2x';
$icon_checkbox_2x_name = 'icon_checkbox_2x';
$icon_checkbox_2x_x = 82px;
$icon_checkbox_2x_y = 90px;
$icon_checkbox_2x_offset_x = -82px;
$icon_checkbox_2x_offset_y = -90px;
$icon_checkbox_2x_width = 40px;
$icon_checkbox_2x_height = 40px;
$icon_checkbox_2x_total_width = 290px;
$icon_checkbox_2x_total_height = 220px;
$icon_checkbox_2x_image = '../images/sprites/sprite_2x.png';
$icon_checkbox_2x = 82px 90px -82px -90px 40px 40px 290px 220px '../images/sprites/sprite_2x.png' 'icon_checkbox_2x';
$icon_checkbox_active_2x_name = 'icon_checkbox_active_2x';
$icon_checkbox_active_2x_x = 180px;
$icon_checkbox_active_2x_y = 0px;
$icon_checkbox_active_2x_offset_x = -180px;
$icon_checkbox_active_2x_offset_y = 0px;
$icon_checkbox_active_2x_width = 40px;
$icon_checkbox_active_2x_height = 40px;
$icon_checkbox_active_2x_total_width = 290px;
$icon_checkbox_active_2x_total_height = 220px;
$icon_checkbox_active_2x_image = '../images/sprites/sprite_2x.png';
$icon_checkbox_active_2x = 180px 0px -180px 0px 40px 40px 290px 220px '../images/sprites/sprite_2x.png' 'icon_checkbox_active_2x';
$icon_copyright_2x_name = 'icon_copyright_2x';
$icon_copyright_2x_x = 180px;
$icon_copyright_2x_y = 70px;
$icon_copyright_2x_offset_x = -180px;
$icon_copyright_2x_offset_y = -70px;
$icon_copyright_2x_width = 40px;
$icon_copyright_2x_height = 40px;
$icon_copyright_2x_total_width = 290px;
$icon_copyright_2x_total_height = 220px;
$icon_copyright_2x_image = '../images/sprites/sprite_2x.png';
$icon_copyright_2x = 180px 70px -180px -70px 40px 40px 290px 220px '../images/sprites/sprite_2x.png' 'icon_copyright_2x';
$icon_cross_black_2x_name = 'icon_cross_black_2x';
$icon_cross_black_2x_x = 0px;
$icon_cross_black_2x_y = 180px;
$icon_cross_black_2x_offset_x = 0px;
$icon_cross_black_2x_offset_y = -180px;
$icon_cross_black_2x_width = 40px;
$icon_cross_black_2x_height = 40px;
$icon_cross_black_2x_total_width = 290px;
$icon_cross_black_2x_total_height = 220px;
$icon_cross_black_2x_image = '../images/sprites/sprite_2x.png';
$icon_cross_black_2x = 0px 180px 0px -180px 40px 40px 290px 220px '../images/sprites/sprite_2x.png' 'icon_cross_black_2x';
$icon_cross_cart_black_2x_name = 'icon_cross_cart_black_2x';
$icon_cross_cart_black_2x_x = 250px;
$icon_cross_cart_black_2x_y = 92px;
$icon_cross_cart_black_2x_offset_x = -250px;
$icon_cross_cart_black_2x_offset_y = -92px;
$icon_cross_cart_black_2x_width = 24px;
$icon_cross_cart_black_2x_height = 24px;
$icon_cross_cart_black_2x_total_width = 290px;
$icon_cross_cart_black_2x_total_height = 220px;
$icon_cross_cart_black_2x_image = '../images/sprites/sprite_2x.png';
$icon_cross_cart_black_2x = 250px 92px -250px -92px 24px 24px 290px 220px '../images/sprites/sprite_2x.png' 'icon_cross_cart_black_2x';
$spritesheet_width = 145px;
$spritesheet_height = 110px;
$spritesheet_image = '../images/sprites/sprite.png';
$spritesheet_sprites = $icon_address_black $icon_address_green $icon_arrow_left $icon_arrow_left_hover $icon_arrow_right $icon_arrow_right_hover $icon_basket $icon_checkbox $icon_checkbox_active $icon_copyright $icon_cross_black $icon_cross_cart_black;
$spritesheet = 145px 110px '../images/sprites/sprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 290px;
$retina_spritesheet_height = 220px;
$retina_spritesheet_image = '../images/sprites/sprite_2x.png';
$retina_spritesheet_sprites = $icon_address_black_2x $icon_address_green_2x $icon_arrow_left_2x $icon_arrow_left_hover_2x $icon_arrow_right_2x $icon_arrow_right_hover_2x $icon_basket_2x $icon_checkbox_2x $icon_checkbox_active_2x $icon_copyright_2x $icon_cross_black_2x $icon_cross_cart_black_2x;
$retina_spritesheet = 290px 220px '../images/sprites/sprite_2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$icon_address_black_group_name = 'icon_address_black';
$icon_address_black_group = 'icon_address_black' $icon_address_black $icon_address_black_2x;
$icon_address_green_group_name = 'icon_address_green';
$icon_address_green_group = 'icon_address_green' $icon_address_green $icon_address_green_2x;
$icon_arrow_left_group_name = 'icon_arrow_left';
$icon_arrow_left_group = 'icon_arrow_left' $icon_arrow_left $icon_arrow_left_2x;
$icon_arrow_left_hover_group_name = 'icon_arrow_left_hover';
$icon_arrow_left_hover_group = 'icon_arrow_left_hover' $icon_arrow_left_hover $icon_arrow_left_hover_2x;
$icon_arrow_right_group_name = 'icon_arrow_right';
$icon_arrow_right_group = 'icon_arrow_right' $icon_arrow_right $icon_arrow_right_2x;
$icon_arrow_right_hover_group_name = 'icon_arrow_right_hover';
$icon_arrow_right_hover_group = 'icon_arrow_right_hover' $icon_arrow_right_hover $icon_arrow_right_hover_2x;
$icon_basket_group_name = 'icon_basket';
$icon_basket_group = 'icon_basket' $icon_basket $icon_basket_2x;
$icon_checkbox_group_name = 'icon_checkbox';
$icon_checkbox_group = 'icon_checkbox' $icon_checkbox $icon_checkbox_2x;
$icon_checkbox_active_group_name = 'icon_checkbox_active';
$icon_checkbox_active_group = 'icon_checkbox_active' $icon_checkbox_active $icon_checkbox_active_2x;
$icon_copyright_group_name = 'icon_copyright';
$icon_copyright_group = 'icon_copyright' $icon_copyright $icon_copyright_2x;
$icon_cross_black_group_name = 'icon_cross_black';
$icon_cross_black_group = 'icon_cross_black' $icon_cross_black $icon_cross_black_2x;
$icon_cross_cart_black_group_name = 'icon_cross_cart_black';
$icon_cross_cart_black_group = 'icon_cross_cart_black' $icon_cross_cart_black $icon_cross_cart_black_2x;
$retina_groups = $icon_address_black_group $icon_address_green_group $icon_arrow_left_group $icon_arrow_left_hover_group $icon_arrow_right_group $icon_arrow_right_hover_group $icon_basket_group $icon_checkbox_group $icon_checkbox_active_group $icon_copyright_group $icon_cross_black_group $icon_cross_cart_black_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
