/*=================================
=            VARIABLES            =
=================================*/

$white                   = #fff
$black                   = #333333
$yellow                  = #ffcb00
$grey                    = #333

$base-color              = $black
$body-bg                 = $white
$a-color                 = $yellow
$a-color-hover           = lighten($a-color, 15%)
$h-color                 = $base-color
$p-color                 = $base-color

$border-color            = $grey
$border-color-hover      = lighten($border-color, 15%)

$font-1                  = 'Roboto', sans-serif

$html-font-size          = 100%

$font-size               = 18px
$h1-size                 = 60px
$h2-size                 = 30px
$h3-size                 = 30px
$h4-size                 = 18px

$h-font                  = $font-1
$h-font-width            = 400

$p-line-height           = 30px
$h-line-height           = 1.2

/*============================
=            GRID            =
============================*/

// Extra small screen / phone
$screen-xs ?=                0px
$screen-xs-min ?=            $screen-xs
$screen-phone ?=             $screen-xs-min

// Small screen / tablet
$screen-sm ?=                768px
$screen-sm-min ?=            $screen-sm
$screen-tablet ?=            $screen-sm-min

// Medium screen / desktop
$screen-md ?=                992px
$screen-md-min ?=            $screen-md
$screen-desktop ?=           $screen-md-min

// Large screen / wide desktop
$screen-lg ?=                1200px
$screen-lg-min ?=            $screen-lg
$screen-lg-desktop ?=        $screen-lg-min

// So media queries don't overlap when required, provide a maximum
$screen-xs-max ?=            ($screen-sm-min - 1)
$screen-sm-max ?=            ($screen-md-min - 1)
$screen-md-max ?=            ($screen-lg-min - 1)

//** Number of columns in the grid.
$grid-columns ?=              12
$grid-gutter-width ?=         20px
$grid-float-breakpoint ?=     $screen-sm-min
$grid-float-breakpoint-max ?= ($grid-float-breakpoint - 1)

//== Container sizes

// Small screen / tablet
$container-tablet ?=           (690px + $grid-gutter-width)
$container-sm ?=               $container-tablet

// Medium screen / desktop
$container-desktop ?=          (920px + $grid-gutter-width)
$container-md ?=               $container-desktop

// Large screen / wide desktop
$container-large-desktop ?=    (920px + $grid-gutter-width)
$container-lg ?=               $container-large-desktop







