include pug/_mixins/svg-icon.pug

doctype html
html
  head
    title Home
    include pug/meta.pug
    include pug/styles.pug
  body
    include pug/svg-sprite.pug

    // Page Loader
    include pug/_modules/page-loading.pug

    // Header
    include pug/_modules/header.pug
    
    main
      // Section home
      section.section-home
        .container-fluid
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum hic, cumque aliquam doloremque, dolorum consectetur dignissimos? Neque reiciendis ipsam expedita, quis magni blanditiis ea, quibusdam aliquid corrupti laudantium id deleniti.
          img(src="/assets/img/markers/mark-food.png", alt="")
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quidem eveniet perferendis aperiam dicta veniam minima libero consequuntur officia, debitis, ab eligendi, nihil sapiente similique ullam perspiciatis doloribus id eaque.
          .sprite
          +svg('pdf')
              



            

    // Footer
    include pug/_modules/footer.pug

    // Popups
    include pug/_modules/popups.pug
    


    // Scripts
    include pug/scripts.pug
    
    

  

      

