include pug/mixins/svg-icon.pug

doctype html
html.no-js
  head
    include pug/meta.pug
    title Home
    include pug/styles.pug
  body
    include pug/old-ie.pug
    include pug/svg-sprite.pug

    include pug/_includes/_page-loading.pug

    // Header
    include pug/_includes/_header.pug
    
    main
      // Section Home
      include pug/_includes/_section-home.pug

    // Footer
    include pug/_includes/_footer.pug


    include pug/scripts.pug
  

      

