/* Fonts */
@font-face {
  font-family: 'PFDinTextCompPro';
  src: url('../fonts/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/PFDinTextCompPro-Regular.woff') format('woff'), 
       url('../fonts/PFDinTextCompPro-Regular.ttf') format('truetype'), 
       url('../fonts/PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PFDinTextCompPro";
  src: url('../fonts/PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/PFDinTextCompPro-Medium.woff') format('woff'), 
       url('../fonts/PFDinTextCompPro-Medium.ttf') format('truetype'), 
       url('../fonts/PFDinTextCompPro-Medium.svg#PFDinTextCompPro-Regular') format('svg');
  font-style: normal;
  font-weight: 600;
}