// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$imq-logo-black-name: 'imq-logo-black';
$imq-logo-black-x: 135px;
$imq-logo-black-y: 0px;
$imq-logo-black-offset-x: -135px;
$imq-logo-black-offset-y: 0px;
$imq-logo-black-width: 84px;
$imq-logo-black-height: 16px;
$imq-logo-black-total-width: 219px;
$imq-logo-black-total-height: 100px;
$imq-logo-black-image: '../img/sprites/sprite.png';
$imq-logo-black: (135px, 0px, -135px, 0px, 84px, 16px, 219px, 100px, '../img/sprites/sprite.png', 'imq-logo-black', );
$imq-logo-white-name: 'imq-logo-white';
$imq-logo-white-x: 135px;
$imq-logo-white-y: 31px;
$imq-logo-white-offset-x: -135px;
$imq-logo-white-offset-y: -31px;
$imq-logo-white-width: 84px;
$imq-logo-white-height: 16px;
$imq-logo-white-total-width: 219px;
$imq-logo-white-total-height: 100px;
$imq-logo-white-image: '../img/sprites/sprite.png';
$imq-logo-white: (135px, 31px, -135px, -31px, 84px, 16px, 219px, 100px, '../img/sprites/sprite.png', 'imq-logo-white', );
$logo-blagorod-name: 'logo-blagorod';
$logo-blagorod-x: 0px;
$logo-blagorod-y: 0px;
$logo-blagorod-offset-x: 0px;
$logo-blagorod-offset-y: 0px;
$logo-blagorod-width: 120px;
$logo-blagorod-height: 100px;
$logo-blagorod-total-width: 219px;
$logo-blagorod-total-height: 100px;
$logo-blagorod-image: '../img/sprites/sprite.png';
$logo-blagorod: (0px, 0px, 0px, 0px, 120px, 100px, 219px, 100px, '../img/sprites/sprite.png', 'logo-blagorod', );
$spritesheet-width: 219px;
$spritesheet-height: 100px;
$spritesheet-image: '../img/sprites/sprite.png';
$spritesheet-sprites: ($imq-logo-black, $imq-logo-white, $logo-blagorod, );
$spritesheet: (219px, 100px, '../img/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
